services:
  harvest-agent:                    # Agent: Collects data and performs asynchronous tasks.
    image: "fionajuneleathers/cloud-harvest-agent:${HARVEST_AGENT_IMAGE_TAG:-latest}"   # The Docker image to use for this service
    pull_policy: always             # Specifies the pull policy for the Docker image (always, never, if-not-present)
    stop_signal: SIGINT             # Specifies the system call signal to be sent to the container to exit
    volumes:                        # Specifies the paths that should be mounted into the container
      - "~/.ssh:/root/.ssh"
      - "./app/agent/:/src/app/"
    working_dir: /src               # The working directory inside the container
    networks:                       # Specifies the networks the container should connect to
      - CloudHarvestStackNetwork
    environment:                     # Add environment variables
      HTTPS_PROXY: "${HTTPS_PROXY}"
      NO_PROXY: "${NO_PROXY}"

  harvest-api:                      # Api: provides interface for retrieving data and directing Agents to perform work.
    image: "fionajuneleathers/cloud-harvest-api:${HARVEST_API_IMAGE_TAG:-latest}"   # The Docker image to use for this service
    pull_policy: always             # Specifies the pull policy for the Docker image (always, never, if-not-present)
    ports:                          # Maps the port inside the Docker container to the host
      - "8000:8000"
    stop_signal: SIGINT             # Specifies the system call signal to be sent to the container to exit
    volumes:                        # Specifies the paths that should be mounted into the container
      - "~/.ssh:/root/.ssh"
      - "./app/api/:/src/app/"
    working_dir: /src               # The working directory inside the container
    networks:                       # Specifies the networks the container should connect to
      - CloudHarvestStackNetwork
    environment:                     # Add environment variables
      HTTPS_PROXY: "${HTTPS_PROXY}"
      NO_PROXY: "${NO_PROXY}"


  mongo:                              # Mongo database for persisting data
    image: mongo                      # The Docker image to use for this service
    container_name: cloudharveststack-mongo  # The name of the container
    restart: always                   # Specifies the restart policy
    ports:                            # Maps the port inside the Docker container to the host
      - "27017:27017"
    command: >                        # The command to run inside the container 
      /bin/bash -c "
        docker-entrypoint.sh --bind_ip_all --logappend
      "
    networks:                         # Specifies the networks the container should connect to
      - CloudHarvestStackNetwork
    environment:                      # Add environment variables
      MONGO_INITDB_ROOT_USERNAME: "${MONGO_INITDB_ROOT_USERNAME:-admin}"
      MONGO_INITDB_ROOT_PASSWORD: "${MONGO_INITDB_ROOT_PASSWORD:-default-harvest-password}"
      HTTPS_PROXY: "${HTTPS_PROXY}"
      NO_PROXY: "${NO_PROXY}"
    volumes:
      - ./app/mongo/data:/data/db
      - ./app/mongo/logs:/var/log/mongodb

  mongo-seed:                         # Seeds the Mongo database with user configuration data
    image: mongo
    depends_on:                       # The services that this service depends on
      - mongo
    volumes:                          # Paths that should be mounted into the container
      - ./app/mongo-seed:/app
    networks:                         # Specifies the networks the container should connect to
      - CloudHarvestStackNetwork
    command: >
      /bin/bash -c '
      sleep 10
      && mongosh cloudharveststack-mongo/harvest
      --username ${MONGO_INITDB_ROOT_USERNAME:-admin}
      --password ${MONGO_INITDB_ROOT_PASSWORD:-default-harvest-password}
      --authenticationDatabase admin
      /app/mongo-seed.js'

  redis:
    image: redis:latest
    container_name: cloudharveststack-redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - CloudHarvestStackNetwork
    environment:
      REDIS_PASSWORD: "${REDIS_PASSWORD:-default-harvest-password}"
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD:-default-harvest-password}", "--maxmemory", "4gb", '--loglevel', 'verbose']

networks:                               # Defines the networks to be used by the services
  CloudHarvestStackNetwork:             # The name of the network
    driver: bridge                      # The network driver to be used
